.engineering-hero-section {
  background-image: url("/code-clarity.jpg");
  background-size: cover;
  z-index: 1;
}

.support-hero-section {
  background-image: url("/tech-support.jpg");
  background-size: cover;
  z-index: 1;
}
